
@{
    ViewBag.Title = "Show Feedbacks";
    Layout = "~/Views/Shared/_ContactLayout.cshtml";
}
<center style="background-color:lightgray">
    <br />
    <h2>Show Feedbacks</h2><br />

    <p><b> Name :</b> @ViewBag.Name </p><br />
    <p><b> Age :</b> @ViewBag.Age </p><br />
    <p><b> Gender :</b> @ViewBag.Gender </p><br />
    <p><b> Feedback Type :</b> @ViewBag.FeedbackType </p><br />
    <p><b> Feedback :</b> @ViewBag.Feedback </p><br />
</center>